/* Spaghetti CSS code, please ignore quick hacks */

body {
   margin:0px;

    background-color: #eee;
  }

.white-text h1 {
  font-family: "Poppins";
  text-align: center;
  color: white;
  font-size: 42px;
}

.white-text h2 {
  text-align: left;
  color: white;
  margin-bottom: -16px;
}

.white-text h3,p,em,ul,li{
  font-family: "Poppins";
  text-align: left;
  color: white;
}

.black-text h1 {
  font-family: "Poppins";
  text-align: center;
  color: black;
  font-size: 42px;
}

.black-text h2 {
  text-align: left;
  color: black;
  margin-bottom: -16px;
}

.black-text h3,p,em,ul,li{
  font-family: "Poppins";
    text-align: left;
    color: black;
}
  
  em {
    font-style: italic;
  }
  
  h1 {
    font-family: "Poppins";
    text-align: center;
    color: black;
    font-size: 42px;
  }
  
  p {
    color: black;
  }
  
  h2 {
    text-align: left;
    color: black;
    margin-bottom: -16px;
  }
  
  h2,
  h3,
  p,
  em, ul,li {
    font-family: "Poppins";
    text-align: left;
    color: black;
  }
  
  .page-wrapper {
    margin: 15px;
  }
  
  .max-width {
    max-width: 70rem;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(50% - 3.5rem);
  }
  
  
  .column.food {
    padding-top: 7rem;
  }
  
  .column.age {
    padding-top: 5rem;
  }
  
  .row.section {
    padding: 3rem 0 4rem;
  }
  
  .hr {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1583228888350-c73ad9caec1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    height: 650px;
  
    margin-left: calc(-50vw + 50%);
    width: 100vw;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text h1 {
    font-family: "Poppins";  
    margin-left: 30px;
    color: white;
    font-size: 35px;
  }
  
  .hero-text p {
    font-family: "Poppins";  
    color: white;
    font-size:20px;
    margin-left: 30px;
    margin-top: -12px;
    text-align:center;
  }
  
  .foodchart-container {
    height: 380px;
  }
  
  a.source::after {
    content: "";
    display: inline-block;
    width: 22.5px;
    height: 19.5px;
    background: url("/img/externalLink.svg");
    margin-left: 0.5rem;
  }
  
  input + em {
    font-size: 0.875rem;
    text-align: center;
    margin-top: 0.5rem;
  }
  
  .diabetes-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }
  
  .diabetes-img-container img {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }

  .colour-block {
    background:#22313f;
    width:100%;
    padding:7% 0% 10% 0%;
    color:#fff;
  }


  .white-block {
    background:#fff;
    width:100%;
    padding:7% 0% 10% 0%;
    color:#22313f;
  }

  
  
  /*----------------*/
  /*  SCALLOP down  */
  /*----------------*/
  .scallop-down{
    height:100px;
    width:100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#22313f), color-stop(0.49, #22313f), color-stop(0.51, #fff), to(white));
  -webkit-background-size: 49px 100%;
  }
  
  
  /*----------------*/
  /*  SCALLOP up    */
  /*----------------*/
  .scallop-up{
    height:100px;
    width:100%;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(#22313f), color-stop(0.49, #22313f), color-stop(0.51, #fff), to(white));
  -webkit-background-size: 49px 100%;
  }
  
